.o-contenedorPaginaInicioSesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}

.o-logoInicioSesion{
    cursor: pointer;
}

.o-logoInicioSesion img{
    width: 10em;
}