.o-contenedorPaginaBusqueda{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

.o-tituloJardinesJIC{
    padding: 4em 15em 1em 15em;
}

.o-tituloJardinesJIC h1{
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #AE8482;
}

.o-contenedorTarjetasJardines{
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}